body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    color: darkblue;
    text-align: center;
}
gender-selection{
    margin-top: 20px;
    text-align: right;
}
